<!DOCTYPE html>

<html LANG="en">
<head>
    <title>DataGrid 数据表格</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="/static/css/demo.css" rel="stylesheet" type="text/css" />

    <script src="/static/miniui/boot.js" type="text/javascript"></script>
    <script src="/static/js/ColumnsMenu.js" type="text/javascript"></script>

</head>
<body>
<h1>DataGrid 数据表格</h1>

<div style="width:800px;">
    <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
        <table style="width:100%;">
            <tr>
                <td style="white-space:nowrap;">
                    <input id="key" class="mini-textbox" emptyText="请输入姓名" style="width:150px;" onenter="onKeyEnter"/>
                    <a class="mini-button" onclick="search()">查询</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="datagrid1" class="mini-datagrid" style="width:800px;height:280px;" allowResize="true"
     url="/boss/listUser"  idField="id" multiSelect="true"
>
    <div property="columns">
        <!--<div type="indexcolumn"></div>        -->
        <div type="checkcolumn" ></div>
        <div field="id" width="120" headerAlign="center" allowSort="true">用户编码</div>
        <div field="name" width="120" headerAlign="center" allowSort="true">出生日期</div>
        <!--        <div field="createtime" width="100" headerAlign="center" dateFormat="yyyy-MM-dd" allowSort="true">创建日期</div>-->
        <div header="基本信息">
            <div property="columns">
                <div field="price" width="100" renderer="onGenderRenderer">用户名</div>
<!--                <div field="inventory" width="100" allowSort="true">库存</div>-->
<!--                <div field="kind" width="100" renderer="onBirthdayRenderer">种类</div>-->
                <div field="action" width="100">联系该用户</div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    mini.parse();

    let grid = mini.get("datagrid1");
    grid.load();

    let menu = new ColumnsMenu(grid);


    function edit() {

        let row = grid.getSelected();
        if (row) {
            mini.open({
                url: bootPATH + "../demo/CommonLibs/EmployeeWindow.html",
                title: "编辑产品", width: 600, height: 400,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: "edit", id: row.id };
                    iframe.contentWindow.SetData(data);

                },
                ondestroy: function (action) {
                    //var iframe = this.getIFrameEl();

                    grid.reload();

                }
            });

        } else {
            alert("请选中一条记录");
        }

    }
    function remove() {

        var rows = grid.getSelecteds();
        if (rows.length > 0) {
            if (confirm("确定删除选中记录？")) {
                var ids = [];
                for (var i = 0, l = rows.length; i < l; i++) {
                    var r = rows[i];
                    ids.push(r.id);
                }
                var id = ids.join(',');
                grid.loading("操作中，请稍后......");
                $.ajax({
                    url: "../data/AjaxService.aspx?method=RemoveEmployees&id=" +id,
                    success: function (text) {
                        grid.reload();
                    },
                    error: function () {
                    }
                });
            }
        } else {
            alert("请选中一条记录");
        }
    }
    function search() {
        var key = mini.get("key").getValue();
        grid.load({ key: key });
    }
    function onKeyEnter(e) {
        search();
    }

</script>

<div class="description">
    <h3>Description</h3>

</div>
</body>
</html>